<app-container-personas>

  <div class="container">

    <div class="jumbotron p-3 p-md-5 text-white rounded mt-4" style="background-color: #0F265C">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
          about what's most interesting in this post's contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 mt-4">
        <app-card title="Ahorros"
                  srcImage="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/7WAvgisllUCIBv4F6fduZg/Icon/PERSONAS-CUENTAS-CORRIENTE-2.jpg?w=300&h=200&mode=crop"
                  content="Abre una cuenta en 10 minutos y empieza a manejar tu dinero donde sea que estés."
                  btnValue="Conoce mas">
        </app-card>
      </div>
      <div class="col-md-4 mt-4">
        <app-card title="Ahorro Programado"
                  srcImage="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/EfyqZV-vxEGAFGMFzSSChA/Icon/PERSONAS-CUENTAS-AHORRO-PROGRAMADO.jpg?w=300&h=200&mode=crop"
                  content="Cumple tus planes a futuro, con una cuota de ahorro mensual desde 10 dólares."
                  btnValue="Conoce más">
        </app-card>
      </div>
      <div class="col-md-4 mt-4">
        <app-card title="Jóvenes"
                  srcImage="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/BCr9OQZmnUyzc_8VFv6E4w/Icon/Jovenes.jpg?w=300&h=200&mode=crop"
                  content="Descubre todas nuestras opciones para empezar a construir tu futuro."
                  btnValue="Conoce más">
        </app-card>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <app-card title="Cuenta Básica"
                  srcImage="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/iRnsHbN1I0yqz0hhnN3M-Q/Icon/PERSONAS-CUENTAS-CUENTA-BASICA.jpg?w=300&h=200&mode=crop"
                  content="Abre tu cuenta y maneja tu dinero desde cualquier corresponsal de la red Mi Vecino."
                  btnValue="Conoce más">
        </app-card>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <app-card title="Corriente"
                  srcImage="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/7WAvgisllUCIBv4F6fduZg/Icon/PERSONAS-CUENTAS-CORRIENTE-2.jpg?w=300&h=200&mode=crop"
                  content="Administra y controla tu dinero a través de cheques personales."
                  btnValue="Conoce mas">
        </app-card>
      </div>
    </div>

  </div>

</app-container-personas>
