<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffdd00;">
  <a class="navbar-brand ms-2" href="#">Banco Pichincha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"
           routerLink="/home" [ngClass]=" route.url.split('/')[1]== 'home' ? 'active':''">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/catalogo/tipo-cuenta" [ngClass]=" route.url.split('/')[1]== 'catalogo' ? 'active':''" >Catalogo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/personas/cuentas" [ngClass]="route.url.split('/')[1]== 'personas' ? 'active':''">Personas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/empresas" [ngClass]="route.url.split('/')[1]== 'empresas' ? 'active':''">Empresas</a>
      </li>

    </ul>
  </div>
</nav>


