.fa-play-color{
  color: green;
}

.fa-play-color:hover{
  color: black;
}

.fa-pause-color{
  color: gold;
}

.fa-pause-color:hover{
  color: black;
}

.fa-stop-color{
  color: red;
}

.fa-stop-color:hover{
  color: black;
}


.fa-clock-color{
  color: blue;
}

.fa-clock-color:hover{
  color: black;
}
